In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from functions import *

In [2]:
df = newT("../../data/raw/day.csv")

df

,Date,Year,Month,Holiday,Weekday,WorkingDay,WeatherSituation,Casual,Registered,Total
0,2011-01-01,2011,Jan,False,Sat,False,Cloudy,331,654,985
1,2011-01-02,2011,Jan,False,Sun,False,Cloudy,131,670,801
2,2011-01-03,2011,Jan,False,Mon,True,Sunny,120,1229,1349
3,2011-01-04,2011,Jan,False,Tues,True,Sunny,108,1454,1562
4,2011-01-05,2011,Jan,False,Wed,True,Sunny,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...
726,2012-12-27,2012,Dec,False,Thur,True,Cloudy,247,1867,2114
727,2012-12-28,2012,Dec,False,Fri,True,Cloudy,644,2451,3095
728,2012-12-29,2012,Dec,False,Sat,False,Cloudy,159,1182,1341
729,2012-12-30,2012,Dec,False,Sun,False,Sunny,364,1432,1796
730,2012-12-31,2012,Dec,False,Mon,True,Cloudy,439,2290,2729

In [3]:
df.to_csv("../../data/processed/tableau.csv")

PermissionError: [Errno 13] Permission denied: '../../data/processed'